<!DOCTYPE html>
<html>
<head>
  <title>SL Lineup Optimizer</title>
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>


<body>
  <div class="main_heading_container">
    <h1 class="main-heading">
      Stadium Live Lineup Optimizer
    </h1>
  </div>

  <div class="main_buttons_container">
      <a class= "main-buttons" href="{{ url_for('nba')}}">
        <img src="/static/nba.png" alt="Image Button" width="200" height="400">
      </a>
      <a class= "main-buttons" href="{{ url_for('wnba')}}">
        <img src="/static/wnba.png" alt="Image Button" width="180" height="400">
      </a>
  </div>

</body>


</html>
