<!DOCTYPE html>
<html>
<head>
    <title>SL Lineup Optimizer</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body class="main_body">
    <div class="main-container">
        <h1 class="main-title">Stadiumlive Lineup Optimizers</h1>
        <div class="main-buttons-container">
            <a href="{{ url_for('nba') }}"><button class="button button-nba">NBA</button></a>
            <button class="spacer-button"></button>
            <a href="{{ url_for('wnba') }}"><button class="button button-wnba">WNBA</button></a>
        </div>
    </div>
</body>
</html>
