<!DOCTYPE html>
<html>
<head>
    <title>SL Lineup Optimizer</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <button class="back_button_container">
        <a class="back_button_text" href="{{ url_for('main')}}">
            <span>BACK</span>
        </a>
    </button>

    <div class="main_heading_container" style="margin-top: 5%;">
        <h1 class="main-heading">
          NBA LINEUP OPTIMIZER
        </h1>
    </div>
    <div class="optimizer_form_container">
      <form class="form" action="/nba" method="POST">
        <div class="form-input-container">
          <input class="form-input" type="text" name="input1" placeholder="Enter team 1 (ex. 'hawks' '76ers' 'nuggets')">
          <input class="form-input" type="text" name="input2" placeholder="Enter team 2 (ex. 'heat, 'spurs', 'rockets')">
        </div>
        <select class="optimizer-risklv" name="risklv">
          <option value="safe">Safe Lineup</option>
          <option value="risk">Risky Lineup</option>
        </select>
        <button type="submit">Calculate</button>
      </form>
    </div>
    {% if result %}
    <div class="players_container">
        <ul class="horizontal-list">
            {% for player in result[1:] %}
                <li class="player-list">{{ player }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="xp-container">
        <li>
            <span class="xp-text">Projected XP: {{ result[0] }}</span>
        </li>
    </div>
    {% endif %}
</body>

</html>

